.doc_wrap {
    position: absolute;
    display: grid;
    grid-template-rows: 3vw 2rem auto;
    width: 100%;
    height: calc(100%);
    font-family: 'Poppins';
    color: white;
}

.doc_title_wrap {
    display: grid;
    grid-template-columns: 3vw auto;
    align-items: center;
}

.doc_icon {
    display: grid;
    place-self: center;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
}

.doc_title {
    font-size: 1.5vw;
    font-weight: bolder;
}

.main_doc_wrap {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    width: calc(100% - 8rem);
    height: 100%;
    background-color: var(--grey);
    border-radius: 0 5rem 5rem 0;
}

.navbar {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.main_doc {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 0 10rem 0 0;
    outline: none;
    border: none;
}

.top_navbar_wrap {
    display: grid;
    max-width:50%;    
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    margin: 0 1rem;
    align-self: center;
}

.top_navbar {
    cursor: pointer;
    font-size: 1vw;
    font-weight: normal;
}

.font_weights {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vw;
}