.doc_wrap {
    position: absolute;
    display: grid;
    grid-template-rows: 3vw 2rem auto;
    width: 100%;
    height: calc(100%);
    font-family: 'Poppins';
    color: white;
}

.doc_title_wrap {
    display: grid;
    grid-template-columns: 3vw auto;
    align-items: center;
}

.doc_icon {
    display: grid;
    place-self: center;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
}

.doc_title {
    font-size: 1.5vw;
    font-weight: bolder;
}

.main_doc_wrap {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    width: calc(100% - 8rem);
    height: 100%;
    background-color: var(--grey);
    border-radius: 0 5rem 5rem 0;
}

.navbar {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    padding: 0 .5rem;
}

.main_doc {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 0 10rem 0 0;
    outline: none;
    border: none;
}

.top_navbar_wrap {
    display: grid;
    max-width:50%;    
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    margin: 0 1rem;
    align-self: center;
}

.top_navbar {
    cursor: pointer;
    font-size: 1vw;
    font-weight: normal;
}

.font_weights {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vw;
}

.font_sizes_wrap {
    position: relative;
    display: grid;
    grid-template-rows: 3vw auto;
    height: 3vw;
}

.current_font_size {
    display: grid;
    grid-template-columns: auto 3vw;
    place-items: center;
}

.more {
    display: grid;
    place-self: center;
    width: 1vw;
    height: 1vw;
    transition: all 100ms ease;
}

.wrap_navbar_row {
    display: flex;
    flex-direction: row;
}

.sizes_list {
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    display: flex;
    max-height: 0;
    top: 100%;
    left: 100%;
    width: 5rem;
    transform: translate(-50%, 0);
    overflow-y: scroll;
    list-style-type: none;
    background-color: var(--bg);
    box-shadow: 5px 5px 10px 10px rgba( 0, 0, 0, 0.1 );
    border-radius: .5rem;
    text-align: start;
    transition: all 100ms ease;
}

.sizes_list::-webkit-scrollbar {
    width: 5px;
}

.sizes_list::-webkit-scrollbar-thumb {
    background-color: var(--grey);
}

.font_sizes_wrap:focus .sizes_list, .font_sizes_wrap:active .sizes_list{
    max-height: 10rem;   
}

.font_sizes_wrap:focus .more, .font_sizes_wrap:active .more{
    transform: rotate(180deg);
}

.font_size_input {
    border:none;
    outline: none
}

.font_family {
    position: relative;
    display: grid;
    grid-template-columns: auto 3vw;
    width: calc(100% - 2rem);
    height: 3vw;
    align-items: center;
}

.family_list {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 12rem;
    max-height: 0;
    overflow-y: scroll;
    background-color: var(--bg);
    box-shadow: 5px 5px 10px 10px rgba( 0, 0, 0, 0.1 );
    z-index: 2;
    transition: all 100ms ease;
}

.font_family:focus .family_list, .font_family:active .family_list{
    max-height: 12rem;   
}

.font_family:focus .more, .font_family:active .more{
    transform: rotate(180deg);
}

.font_style {
    cursor: pointer;
    margin: 1rem 0;
}

.family_list::-webkit-scrollbar {
    width: 5px;
}

.family_list::-webkit-scrollbar-thumb {
    background-color: var(--grey);
}
