.home_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    --grid-panel: 7vw;
    grid-template-columns: var(--grid-panel) auto var(--grid-panel) calc(var(--grid-panel) * 2);
    grid-template-rows: var(--grid-panel) var(--grid-panel) auto var(--grid-panel);
    gap: 1px;
    background-color: white;
}

.bg_wrap {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--yellow);
    grid-row: span 4;
    grid-column: 4/5;
}

.fill {
    background-color: var(--bg);
}

.title {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--bg);
    font-size: 3vw;
    font-family: 'Poppins';
    color: white;
    font-weight: bolder;
}